{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
    <section class="completed">
        <h2 class="completed__title title">Последние выполненые заявки</h2>

        <div class="completed__list">
            {% for application in completed_applications %}
                <article class="completed__card">
                    <img src="{{ application.image.url }}" alt="{{ application.title }}">
                    <div class="completed__content">
                        <span class="completed__item"><strong>Временная метка:</strong> {{ application.created_at|date:"d.m.Y H:i" }}</span>
                        <span class="completed__item"><strong>Название:</strong> {{ application.title }}</span>
                        <span class="completed__item"><strong>Категория:</strong> {{ application.category }}</span>
                    </div>
                </article>
            {% empty %}
                <h3>Нет выполненных заявок для отображения.</h3>
            {% endfor %}
        </div>
    </section>
{% endblock %}